<<<<<<< HEAD
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #800080;
	text-align: center;
}

.webinar-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.webinar {
	width: 23%; /* Adjust as needed */
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 10px;
}

.webinar img {
	width: 100%;
	height: auto;
}

.webinar h2 {
	color: #800080;
	text-align: center;
}

.webinar p {
	text-align: center;
	padding: 15px;
}

.webinar-container .webinar .image img {
	width: 100%;
	height: 100%;
}
=======
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #800080;
	text-align: center;
}

.webinar-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.webinar {
	width: 23%; /* Adjust as needed */
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 10px;
}

.webinar img {
	width: 100%;
	height: auto;
}

.webinar h2 {
	color: #800080;
	text-align: center;
}

.webinar p {
	text-align: center;
	padding: 15px;
}

.webinar-container .webinar .image img {
	width: 100%;
	height: 100%;
}
>>>>>>> 5c04e65364a193ce6f46a09c6eb08f216631eabf
